.movies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: #e0e5ec;
  }
  
  h1 {
    font-size: 3em;
    color: #333;
  }
  
  p {
    font-size: 1.5em;
  }
  
  a {
    color: #61dafb;
    text-decoration: none;
  }
  
  a:hover {
    color: #21a1f1;
  }
  